@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

* {
  box-sizing: border-box;
}

body {
  background: #c2c1c1;
  margin: 0;
  padding: 20px;
  font: 15px/1.6 "Hind", sans-serif;
  font-weight: 400;
}

.container {
  position: absolute;
  top: 20%;
  left: calc(50% - 165px);
}
